.qs-controls {
  background: transparent;
  max-height: 52.25px;
}

.qs-datepicker-container {
  width: 100%;
  line-height: 4rem;
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  max-width: 266px;
  margin: 0 auto;
}

.qs-arrow {
  margin: 0 6px;
}

.qs-square {
  font-size: 15px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.qs-event {
  color: red;
  opacity: 1;
}

.qs-event::after {
  display: none;
}

.qs-active,
.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background-color: var(--bs-primary, red);
  color: var(--bs-white, white) !important;
}

#totalAllowedError {
  margin: 0 auto 16px auto;
  font-size: 1rem;
  font-weight: 700;
  display: none;
}